* {
	margin: 0;
	padding: 0;
}
#loader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #00264f;
	z-index: 9999999;
	color: #fff;
	overflow: hidden;
	text-align: center;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
#loader > div {
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
#text-animation {
	position: relative;
	width: 100%;
	height: 100%;
	text-transform: capitalize;
	font-size: 34;
	letter-spacing: 2px;
}