/* media query */
@mixin mq($arg...) {
	@if length($arg) == 2 {
		@media screen and (nth($arg,1): nth($arg,2) ){
			@content;
		}
	}
	@else if length($arg) == 5 {
		@if nth($arg,3) == "or" {
			@media screen and (nth($arg,1): nth($arg,2)), (nth($arg,4): nth($arg,5)) {
				@content;
			}
		} 
		@else {
			@media screen and (nth($arg,1): nth($arg,2)) and (nth($arg,4): nth($arg,5)) {
				@content;
			}
		}
		
	}
}

/* cross browser */
@mixin cross-brows($name, $arg...) {
	$trans: none;

	@each $args in $arg {
		@if $args == nth($arg,1) {
			$trans: $args;    
		} 	
		@else {
			$trans: $trans , $args;   
		}   
    }
    -webkit-#{$name}: $trans;
	-moz-#{$name}: $trans;
	-ms-#{$name}: $trans;
	-o-#{$name}: $trans;
	#{$name}: $trans;
}
@mixin cross-brows-val($name, $val) {
	#{$name}: -webkit-#{$val};
	#{$name}: -moz-#{$val};
	#{$name}: -ms-#{$val};
	#{$name}: -o-#{$val};
	#{$name}: #{$val};
}

/* keyframes */ 
@mixin keyframe($name) {
	@-webkit-keyframes #{$name} {
	 	@content;
	}
	@-moz-keyframes #{$name} {
	 	@content;
	}
	@-ms-keyframes #{$name} {
	 	@content;
	}
	@-o-keyframes #{$name} {
	 	@content;
	}
	@keyframes #{$name} {
	 	@content;
	}
} 

/* user select */
@mixin remove-select() {
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none; 
	user-select: none;  
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
} 