@import 'variable';
@import 'mixin';

/* css for elements */
* {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.hide {
	display: none;
}
.no-transition {
	@include cross-brows(transition, none!important);
}
.row {
	@include cross-brows-val(display, flex);
}
.col {
	@include cross-brows(flex, 1);
}
.center {
	@include cross-brows-val(display, flex);
	@include cross-brows(flex-direction, column);
    align-items: center;
    justify-content: center;
}
.trans-white {
	color: transparentize(#fff, 0.6);
}

/* css for text */
h1, .h1 {
	font-size: 50px;
	letter-spacing: 3px;
	@include mq(min-width, $sm-screen) {
		font-size: 70px;
	}
}
h2, .h2 {
	font-size: 34px;
	@include mq(min-width, $sm-screen) {
		font-size: 50px;
	}
}
h3, .h3 {
	font-size: 26px;
}
h4, .h4 {
	font-size: 22px;
}
h5, .h5 {
	font-size: 18px;
}
h6, .h6 {
	font-size: 16px;
}
p, .p {
	line-height: 24px;
	font-size: 14px;
	font-weight: 300;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: 700;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .p {
	color: #fff;
}
.sub-title {
	color: $light-blue;
	font-weight: 300;
	line-height: 30px;
}
.text-center {
	text-align: center;
}
.uppercase {
	text-transform: uppercase;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $very-light-blue; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $light-blue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($light-blue, 5%); 
} 

/* button */ 
.btn {
	cursor: pointer;
	display: inline-block;
	padding: 10px 35px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	text-align: center;
	@include remove-select();
}
button.btn {
	border: 0;
 	background: none;
 	box-shadow:none;
 	border-radius: 0px;
 	box-sizing: initial;
}
button.btn:focus {
	outline: none;
}
.btn-round {
	border-radius: 30px;
}
.btn-pink {
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: $light-pink;
	background-color: $light-pink;
	@include cross-brows(transition, border 0.2s, background 0.2s);
}
.btn.btn-pink:hover {
	border-color: darken($pink, 5%);
	background-color: darken($pink, 5%);
}
.btn.btn-lightblue {
	color: #fff;
	background-color: $light-blue;
	border-color: $light-blue;
	@include cross-brows(transition, border 0.2s, background 0.2s);
}
.btn.btn-lightblue:hover {
	background-color: darken($light-blue, 10%);
	border-color: darken($light-blue, 10%);
}
.btn.btn-contact {
	padding: 15px 100px;
}

/* next label */
.next-label {
	margin-bottom: 15px;
	@include mq(min-width, $sm-screen) {
		margin-bottom: 25px;		
	}

	@include remove-select();

	& > div {
		display: inline-block;
	}
	.line {
		position: relative;
		width: 40px;
		height: 2px;
		top: -2px;
		background-color: $grey; 
		margin-right: 35px;

		&.transparent {
			background-color: transparentize($grey, 0.8); 
		}
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 8px;
			margin-top: -3px;
			background-color: $light-pink;
			border-radius: 100%;
		}
	}
	.text {
		font-size: 12px;
		color: #fff;
	}
} 

/* label */
.label-round-wrap {
	position: relative;
	display: inline-block;
	width: $label;
	height: $label;
	padding: 4px;
	overflow: hidden;
	@include remove-select();  

	.label-round {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
		border: 1px solid transparentize($light-blue, 0.5);
		border-radius: 100%;
	}
	.label-round .text {
		position: absolute;
		line-height: $label;
		font-size: 18px;
		text-align: center;
		width: 100%;
		line-height: 42px;
		color: transparentize($light-blue, 0.5);
	}
	.loader-svg .circle {
		stroke-opacity: 0.5;
	}
	&.color .loader-svg .circle {
		stroke-opacity: 1;
		@include cross-brows(transition, stroke-opacity 0.3s);
	}
	&.color .label-round {
		border: 1px solid $light-blue;
		.text {
			color: $light-blue;
		}
	}
	&.white .label-round {
		border: 1px solid #fff;
		.text {
			color: #fff;
		}
	}
	.loader-svg ~ .label-round {
		border-color: transparent;
	}
	.loader-svg {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		margin: auto;
		transform: rotate(-90deg);
		margin-left: 1px;

		.loader-svg-circle {
		  	stroke-dasharray: 0, 200;
			stroke-dashoffset: 0;
		}
	}
	&.color .loader-svg .loader-svg-circle {
		@include cross-brows(animation, dash 5s ease-in forwards);
		@include keyframe(dash) {
			0% {
				stroke-dasharray: 0,200;
			    stroke-dashoffset: 0;
			}
			100% {
			    stroke-dasharray: 200,200;
			    stroke-dashoffset: 0;
			}
		}
	}
}

/* hide */
@include mq(max-width, $sm-screen - 1) {
	.hide-xs {
		display: none!important;
	}
}
@include mq(max-width, $sm-screen - 1, orientation, landscape) {
	.hide-xs-land {
		display: none!important;
	}
}
@include mq(min-width, $sm-screen, max-width, $md-screen - 1) {
	.hide-sm {
		display: none!important;
	}
}
@include mq(min-width, $md-screen, max-width, $lg-screen - 1) {
	.hide-md {
		display: none!important;
	}
}
@include mq(min-width, $lg-screen) {
	.hide-lg {
		display: none!important;
	}
} 

/* container */
.container {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	margin: 0 auto;
	height: inherit;

	@include mq(min-width, $sm-screen) {
		max-width: 700px;
	}
	@include mq(min-width, $md-screen) {
		max-width: 900px;
	}
	@include mq(min-width, $lg-screen) {
		max-width: 1150px;
	}
}

/* navbar */
.navbar-wrap {
	position: relative;
	z-index: 2;
	@include remove-select;
}
.navbar {
	position: absolute;
	z-index: 1000;
	width: 100%;
	
	&.mob {
		position: relative;
		height: 0;
		overflow: hidden;
		background-color: $dark-blue;
		@include cross-brows(transition, height 1.5s);
		@include cross-brows(transition-delay, 0.2s);
		@include cross-brows(transition-timing-function, cubic-bezier(0.9,0,0.2,1));
	}

	@include mq(min-width, $sm-screen) {
		&.mob .container {
			width: 80%;
		}
	}

	& > div {
		float: left;
		width: 100%;
	}
	&.mob > div {
		height: 100%;

		@include mq(min-width, $sm-screen) {
			width: 50%;
		}
	}
	.img-left {
		display: none;
		background: url("../images/nav.jpg") no-repeat;
		background-size: cover;
		background-position: 100% 50%;
	}
	&.mob .img-left {
		@include mq(min-width, $sm-screen) {
			display: block;
		}
	}
	.close {
		position: relative;
		display: none;
		float: right;
		cursor: pointer;
		margin-top: 25px;
		z-index: 5;

		* {
			float: left;
			color: #fff;
			padding-left: 20px;
		}
		p {
			margin-top: -6px;
		}
	}
	&.mob .close {
		display: block;
	}
	.nav-menu {
		position: relative;
		color: #fff;
		border-bottom: 1px solid transparentize($grey, 0.80);
		
		.info,
		.next-label {
			display: none;
		}

		.nav-list {
			position: relative;
			padding: 0;

			li {
				position: relative;
				list-style-type: none;
				font-weight: 400;
				text-transform: uppercase;
				display: inline-block;
				padding-right: 50px;

				a {
					cursor: pointer;
					display: block;
					color: #fff;
					font-size: 12px;
					text-decoration: none;
					padding-top: 25px;
					padding-bottom: 20px;
				}
				span.nav-list-label {
					display: none;
					font-size: 11px;
					font-weight: 300;
					@extend .trans-white;
				}
				span.dash {
					display: none;
				}
			}
			.active:after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 30px;
				border-bottom: 3px solid $light-blue;
			}
		}
	}
	&.mob .nav-menu {
		position: absolute;
		top: 0;
		width: inherit;
		height: 100%;
		@include cross-brows-val(display, flex);
		@include cross-brows(flex-direction, column);
		align-items: left;
	    justify-content: center;
		border-bottom: none;

		.info {
			display: block;
			width: 100%;
		}
		.next-label {
			display: block;
		}
		.nav-list {
			display: table;

			li {
				padding: 0;
				display: table-row;
				text-transform: capitalize;

				a {
					padding-top: 0;
					padding-bottom: 0;
				}
				span {
					display: table-cell;
					padding: 15px;

					&.nav-list-label,
					&.dash {
					}
				}
			}
			li.active:after {
				display: none;
			}
		}
	}
	.anim-nav-add,
	.anim-nav-remove {
		position: relative;
		top: 0;
		left: 0;
	}
	.anim-nav-add {
		opacity: 0;
		top: -25px;
		@include cross-brows(animation, textTopAdd 0.2s ease-out 1.3s forwards);
		@include keyframe(textTopAdd) {
			0% {
				top: -25px;
				opacity: 0;
			}
			100% {
				top: 0;
				opacity: 1;
			}
		}
	}
	.anim-nav-remove {
		opacity: 1;
		top: 0;
		@include cross-brows(animation, textTopRem 0.2s ease-in 0.2s forwards);
		@include keyframe(textTopRem) {
			0% {
				top: 0;
				opacity: 1;
			}
			100% {
				top: -25px;
				opacity: 0;
			}
		}
	}

	.list-nav-add,
	.list-nav-remove {
		position: relative;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $dark-blue;
		}
	}
	.list-nav-add:after {
		top: 0;
		@include cross-brows(animation, navTopAdd 1s ease-out 1.2s forwards);
		@include keyframe(navTopAdd) {
			0% {
				top: 0;
			}
			100% {
				top: 100%;
			}
		}
	}
	.list-nav-remove:after {
		top: 100%;
		@include cross-brows(animation, navTopRem 1s ease-out 0.2s forwards);
		@include keyframe(navTopRem) {
			0% {
				top: 100%;
			}
			100% {
				top: 0;
			}
		}
	}
}
.nav-toggle {
	padding: 0 15px;
	display: none;

	@include mq($sm-screen) {
		padding: 0;
	}

	&.mob {
		display: block;
	}
	.button {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		padding: 15px 0;
		cursor: pointer;
	}

	.line {
		display: block;
		width: 100%;
		height: 2px;
		background-color: transparentize($light-blue, 0.80);
		margin: 6px 0;
		@include cross-brows(transition, background-color 0.2s);
	}
	&:hover .line {
		background-color: transparentize($light-blue, 0.3);
	}
}

/* sidebar */
.sidebar {
	position: fixed;
	top: 50%;
	right: 5%;
	z-index: 100;

    @include cross-brows(transform, translateY(-50%));
    @include remove-select();
    display: none;

    @include mq(min-width, $sm-screen) {
    	display: block;
    }

	ul {
		padding: 0;

		li {
			cursor: pointer;
			position: relative;
			list-style-type: none;
			width: 20px;
			height: 20px;
			margin: 40px 0 0;
			@include cross-brows(transition, background-color 0.5s);

			&:not(.active):hover div {
				background-color: $sidebar-hover;
			}
			&:not(:first-child):after {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 3px;
				height: 3px;
				margin: -28px 1px 0; 
				background-color: transparentize(#fff, 0.30);
				border-radius: 100%;
			}

			div {
				position: relative;
				width: 6px;
				height: 6px;
				background-color: $sidebar-bg;
				border-radius: 100%;
			}

			@for $i from 0 to 6 {
			  	&:nth-child(#{$i}) div:before {
			     	content: "0"+$i;
			     	position: absolute;
			     	top: 0;
			     	left: 0;
			     	font-size: 14px;
			     	color: #fff;
			     	line-height: 7px;
			     	margin-left: -30px;
			     	opacity: 0;
			     	-webkit-text-shadow: 1px 1px 2px transparentize(#000, 0.5);
					-moz-text-shadow: 1px 1px 2px transparentize(#000, 0.5);
					-ms-text-shadow: 1px 1px 2px transparentize(#000, 0.5);
					-o-text-shadow: 1px 1px 2px transparentize(#000, 0.5);
			     	text-shadow: 1px 1px 2px transparentize(#000, 0.5);
			     	@include cross-brows(transition, opacity 0.3s);
			  	}
			}
			&.active div:before {
				opacity: 1;
			}

			
			a {

			}
		}
	}
	.sidebar-button {
		cursor: pointer;
		position: absolute;
		left: -12px;
		width: 30px;
		height: 30px;
		background-color: $sidebar-bg;
		border-radius: 100%;
		text-align: center;
		color: #fff;

		@include cross-brows(transition, background-color 0.5s);

			&:hover {
				background-color: $sidebar-hover;
			}

			* {
				color: transparentize(#fff, 0.7);
				font-size: 22px;
			}
			&.sidebar-prev {
				top: -15px;
				* {
					line-height: 28px;
				}
			}
			&.sidebar-next {
				bottom: -35px;
				* {
					line-height: 30px;
				}
			}
		}
}  

/* main */
.main-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background: $dark-blue;

	.info {
		position: relative;
		width: 100%;
		height: 100%;
		@extend .center;

		& > * {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		& > .btn {
			margin-top: 20px;	
		}

		@include mq(min-width, $sm-screen) {
			top: -50px;
			.sub-title {
				width: 500px;
			}
		}
	}
}

/* home */
.home-wrapper {
	@extend .main-wrapper;

	.bg-images {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 0;

		.image {
			position: fixed;
			bottom: 0;
			left: 0;
			width: auto;
			height: 100%;

			@include cross-brows(transition, top 0.2s, left 0.2s);

			@include mq(min-width, $sm-screen) {
				width: 120%;
				height: 120%;
				margin-bottom: -5%;
				margin-left: -5%;
			}
		}		
	}
	.info {
		.header {
			width: 280px;
			@include mq(min-width, $sm-screen) {
				width: 380px;
			}
		}
		.next-label {
			text-align: right;
		}
	}

	.bottom {
		position: absolute;
		bottom: 50px;
		width: inherit;
		display: none; 

		@include mq(min-width, $sm-screen) {
			display: block;
		}

		.col {
			padding: 0 20px; 
			&:not(:first-child) {
				border-left: 1px solid transparentize($light-blue, 0.8);
			}

			& > div {
				padding: 0 10px;
				display: table-cell;
				vertical-align: top;
			}
		}
		.detail {

			p {
				opacity: 0.2;
			}
			&.active p {
				opacity: 1;
			}
			.detail-title {
				margin: 15px 0;
			}
			.detail-info {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				max-height: 72px; 
			}
		}
	}

	.home-bottom {
		position: absolute;
		bottom: 0;
		right: 15px;
		margin-bottom: 15px;

		.sound {
			cursor: pointer;
			@include remove-select();
		}
		& > div {
			display: inline-block;
			color: #fff;
			margin-left: 15px;
			margin-right: 15px;

			& a {
				color: #fff;
				text-decoration: none;
			}
			& > * {
				display: inline-block;
			}
		}
		a.social-media {
			margin-left: 15px;
			margin-right: 0;

			&,
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}
} 

/* about */
.about-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;

	.info {
		position: relative;
		width: 100%;
		height: 100%;
		@include cross-brows-val(display, flex);
		@include cross-brows(flex-direction, column);
		align-items: left;
	    justify-content: center;

	    & > * {
			margin-top: 8px;
			margin-bottom: 8px;
		}
	   
		@include mq(min-width, $sm-screen) {
			
			.details {
				width: 500px;
			}
		}
	}
} 

/* objective */
.objective-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $dark-blue;

	.bg-image-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.bg-images {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 0;
		top: 0;
		margin-top: -50px;
		margin-left: -50px;
		
		.image {
			position: absolute;
			top: 0;
			left: 0;

			@include cross-brows(transition, top 0.2s, left 0.2s);
			@include mq(min-width, $sm-screen) {
				width: 100%;
				height: auto;
			}
		}			
	}
	.div-hori {
		position: absolute;
		top: 0;
		width: 200px;
		border: 1px solid transparentize($light-blue, 0.8);
		@include cross-brows(transform, rotate(90deg));
	}
	.info {
		position: relative;
		width: 100%;
		height: 100%;
		@extend .center;

	    & > * {
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: center;
		}
		@include mq(min-width, $sm-screen) {
			.details {
				width: 500px;
				text-align: center;
			}
		}
	}
} 

/* services */
.services-wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $very-light-blue;
	overflow: hidden;
	padding-top: 15px;

	.image {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		
		img {
			width: 100%;
		}
	}
	.details {
		width: 100%;

		.label-info {
	    	position: relative;
			overflow: hidden;

			&:after {
				content: "";
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: $very-light-blue;
			}
			&.add {
				&.label-sub-header:after {
					top: 0;
					@include cross-brows(animation, txtadd 0.3s linear 0.5s forwards);	
				}
				&.label-info:after {
					top: 0;
					@include cross-brows(animation, txtadd 0.3s linear 0.3s forwards);	
				}
				@include keyframe(txtadd) {
					0% {
						top: 0;
					}
					100% {
						top: 100%;
					}
				}
			}
			&.rem {
				&.label-sub-header:after {
					top: 100%;
					@include cross-brows(animation, txtrem 0.3s linear forwards);	
				}
				&.label-info:after {
					top: 100%;
					@include cross-brows(animation, txtrem 0.3s linear 0.2s forwards);	
				}
				@include keyframe(txtrem) {
					0% {
						top: 100%;
					}
					100% {
						top: 0;
					}
				}
			}

			& > * {
				margin-top: 0px;
	    		margin-bottom: 10px;
			}
	    }
	    .control {
	    	margin-top: 10px;

	    	.label-round-wrap {
	    		cursor: pointer;
	    		margin-right: 8px;

	    		.fa {
	    			font-size: 22px;
	    			line-height: 44px;
	    		}
	    	}
	    } 
	}

	@include mq (min-width, $sm-screen) {
		.image {
			position: static;
			width: 40%;
			height: 100%;
			float: left;
			@include cross-brows-val(display, flex);
			@include cross-brows(flex-direction, column);
			align-items: left;
		    justify-content: center;
		}
		.details {
			width: 60%;
			float: left;
			height: 100%;
			@include cross-brows-val(display, flex);
			@include cross-brows(flex-direction, column);
			align-items: left;
		    justify-content: center;

		    .item-wrapper > div {
		    	padding: 0 20px;
				display: table-cell;
				vertical-align: top;
		    }


			.label-info > * {
				margin-top: 8px;
	    		margin-bottom: 20px;
			}
	    }
	    .control {
	    	margin-top: 15px;
	    } 
	}
	@include mq (min-width, $md-screen) {
		.image {
			width: 50%;

		}
		.details {
			width: 50%;
	    }
	}

	/* text remove */
	.text-remove {
		position: relative;
		overflow: hidden;
		
		@include remove-select();

		ul {
			padding: 0;
			height: auto;
			
			li {
				position: relative;
				display: inline-block;
				overflow: hidden;

				&:before,
				&:after {
					content: "";
					position: absolute;
					top: 0;
					height: 100%;
				}
				&:before {
					right: 0;
				}
				&:after {
					right: 50%;
				}
			}
			
			&.add {
				li:before,
				li:after {
					width: 100%;
					background: $very-light-blue;
					@include cross-brows(animation, add 0.5s linear forwards);
				}

				@include keyframe(add) {
					0% {
						width: 100%;
					}
					100% {
						width: 0;
					}
				}
			}	
			&.rem {
				li:before,
				li:after {
					width: 0;
					background: $very-light-blue;
					@include cross-brows(animation, remove 0.5s linear forwards);
				}

				@include keyframe(remove) {
					0% {
						width: 0;
					}
					100% {
						width: 100%;
					}
				}
			}
		}
	}
} 

/* contact */ 
.contact-section {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: $dark-blue;	
	background-image: url("../images/moon.jpg");
	background-size: cover;
	overflow: hidden;

	@include mq(orientation, portrait) {
		background-size: auto 100%;
    	background-position: 50%;
	}

	.info {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 15px;

		.next-label {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.next-label ~ * {
			margin-top: 8px;
			margin-bottom: 8px;
		}

		@include mq(min-width, $sm-screen, or, orientation, landscape) {
			padding-top: 0;
			@include cross-brows-val(display, flex);
			@include cross-brows(flex-direction, column);
			align-items: left;
		    justify-content: center;
		}
		@include mq(min-width, $sm-screen, or, orientation, portrait) {
			.next-label ~ * {
				margin-top: 10px;
				margin-bottom: 40px;
			}
		}
	}

	.request-modal {
		position: absolute;
		top: 100vh;
		left: 0;
		z-index: 100;
		width: 100%;
		height: $sec-height;
		overflow: hidden;
		background-color: $dark-blue;
		@include cross-brows(transition, top 1.5s cubic-bezier(0.9,0,0.2,1));
		.modal-close {
			cursor: pointer;
			color: #fff;
			font-weight: 300;
			float: right;
			margin-top: 15px;
			margin-right: 15px;
			@include remove-select;
		}
	}
	.form-wrap {
		position: relative;
		width: inherit;
		height: inherit;
		@extend .center;
	}
	.form {
		position: relative;
		color: #fff;
		width: 90%;
		border-top: 1px solid $light-blue;

		.input-top > div  {
			width: 100%;
			display: table;
			border-bottom: 1px solid $light-blue;

			& > div {
				display: table-row;
			}
		}
		label {
			display: table-cell;
			width: 20%;
			vertical-align: middle;
			font-weight: 300;
			text-transform: uppercase;
			font-size: 14px;
			@include remove-select;
		}
		input[type=text],
		textarea {
			display: table-cell;
			width: 100%;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			-ms-box-sizing: border-box; 
			-o-box-sizing: border-box; 
			box-sizing: border-box;  
			background: none;
			border: none;
			padding: 20px 15px;
			resize: none;
			outline: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			-ms-box-shadow: none;
			-o-box-shadow: none;
			box-shadow: none;
			color: #fff;
		}	
		textarea {
			height: 130px;
		}
		.input-top > div:last-of-type label {
			vertical-align: top;
			padding-top: 20px;
		}	
		.line-bottom {
			position: relative;
			top: 1px;
			left: 0;
			width: 0;
			height: 100%;
			z-index: 5;
			border-bottom: 2px solid #fff;
		}
		.input:focus ~ .line-bottom {
			width: 0;
			@include cross-brows(animation, border-bottom 0.6s ease-in-out forwards);
			@include keyframe(border-bottom) {
				0% {
					width: 0;
				}
				100% {
					width: 100%;
				}
			}
		}
		.focus ~ .line-bottom {
			width: 100%;
		}
		.input-bottom {
			margin: 25px auto;

			input {
				float: left;
			}
			.attach {
				float: right;
				cursor: pointer;
				margin-top: 12px;
				@include remove-select;

				* {
					float: left;
					color: #fff;
					padding-left: 10px;
				}
				img {
					position: relative;
    				top: -5px;
				}
				p {
					text-transform: uppercase;
					margin-top: -8px;
				}
			}
		}
		
	}
	@include mq(max-width, $sm-screen - 1, orientation, landscape) {
		.form {
			input[type=text],
			textarea {
				padding: 10px 15px;
			}	
			textarea {
				height: auto;
			}
		}
	}
	@include mq(min-width, $sm-screen) {
		.form {
			width: 400px;	
		}
	}
}  

/* works */ 
.works-main {
	@extend .main-wrapper;

	& > .bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		@include remove-select;

		& > * {
			margin: auto;
			text-align: center;
		}
		& > .scroll {
			position: relative;
			width: 16px;
			height: 25px;
			border: 1px solid $light-light-blue;
			border-radius: 20px;

			&:after {
				content: "";
				position: absolute;
				top: 4px;
				left: 6px;
				width: 4.5px;
				height: 4.5px;
				background-color: $light-light-blue;
				border-radius: 100%;
				@include cross-brows(animation, scrolldown 1s ease-in infinite);
				@include keyframe(scrolldown) {
					0% {
						top: 4px;
					}
					40% {
						top: 15px;
					}
					100% {
						top: 15px;
					}
				}
			}
		}

		& > p {
			font-size: 12px;
			color: $light-light-blue;
			font-weight: 500;
			margin-top: 8px;
			margin-bottom: 8px;
		} 
		& > .line {
			@include cross-brows(transform, rotate(90deg));
			margin-top: 68px;
			width: 120px;
			border-width: 1px;
			border-color: $light-light-blue;
		}
	}

}
.works {
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	@include cross-brows(filter, brightness(80%));
	@include cross-brows(transition, all 0.3s);

	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -25px;
		width: 50px;
		height: 50px;
		opacity: 0;
		@include cross-brows(transition, opacity 0.5s);

		& > img {
			width: 100%;
			height: 100%;
		}
	}
	.info {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 15px;
		opacity: 0.3;
		@include cross-brows(transition, opacity 0.5s);

		.sub-title {
			color: rgba(255,255,255,0.5);
		}
	}
	&:hover {
		@include cross-brows(filter, brightness(100%));
	}
	&:hover .icon,
	&:hover .info {
		opacity: 1;
	}
}

/* footer */
footer {
	position: relative;
}
footer .content {
	position: static;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	text-align: center;

	@include mq(min-height, 600px) {
		position: absolute;
		bottom: 100%;
	}
} 