// screen size
$sm-screen : 768px;
$md-screen : 992px;
$lg-screen : 1200px;

// height
$sec-height: 100vh;

// color
$header-light-bg : #fff;
$header-dark-bg : #000;

$light: #fbfbfb;

$light-pink: #febfbf;
$pink: #b06183;

$light-blue: #738fc9;
$dark-blue: #00264f;
$light-light-blue: #8c9db0;
$very-light-blue: #eaeff3;

$sidebar: #415283;
$sidebar-bg: transparentize($sidebar,0.2);
$sidebar-hover: lighten($sidebar,20%);

$grey: #e0e0e0;

$label: 45px;

$nav-top: 30px;
$nav-bottom: 20px;
$navli: 40px;
